<h1>jQuery Rails Test</h1>

<div>
	<p>This is a small project to show the use of jQuery and AJAX updates in a Rails app.</p>
	<p><code>custom.js</code> adds a custom function to any instances of a click event that occurs inside the <code>options</code> div.</p>
	<p>Clicking an instance trigger an AJAX <code>POST</code> to the root of the site, handled by the <code>post</code> method in the <code>welcome</code> controller. The <code>id</code> of the clicked element is sent across in the query string.</p>
	<p>The <code>id</code> is extracted and stored in the <code>session</code>. If the same element is clicked twice, the <code>session</code>'s <code>id</code> value is reset to <code>nil</code>.</p>
	<p>The clicked <code>id</code> is returned as JSON to the custom function. This first clears any instances of the <code>highlighted</code> from the <code>options</code> div, then selects the clicked span and adds the <code>highlighted</code> class to it. If no id has been returned (because the same element has been clicked twice) then no span will be selected.</p>
		</div>

<div class="options">
	<span id="1">Thing one</span> <span id="2">Thing two</span> <span id="3">Thing three</span> <span id="4">Thing four</span>
</div>